.pa_filter_btn {
  background: white;
  border: 1px solid #e73b1d !important;
  color: #252a60;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100px;
}

.PetVerify {
  position: absolute;
  z-index: 1;
  right: 0;
  background-color: white;
  font-size: 13px;
  font-weight: 600;
  color: #4f7afc;
  padding: 4px 9px;
  border-radius: 0px 19px 0px 9px;
}
.PetVerify img {
  height: 16px;
  width: auto;
  margin-right: 3px;
}
.Petcert {
  position: absolute;
  z-index: 1;
  bottom: 0;
  font-size: 15px;
  padding: 3px 21px;
  border-radius: 0px 10px 0px 10px;
  background-color: #e73b1d;
  color: white;
}
.card-pet-area-uploaded p {
  font-size: 12px;
  line-height: 18px;
  margin: 5px 0px;
}
p.CartCerti {
  font-size: 10px;
  color: #329300;
  font-weight: 500;
}
.card-pet-name {
  font-size: 17px;
  color: var(--black-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.card-pet-gender {
  font-size: 14px;
}
.card-pet-adobefee {
  font-size: 20px;
  color: #777;
}

.image-checkbox {
  position: relative;
  cursor: pointer;
  margin: 10px;
}

.image-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

.image-checkbox img {
  width: 150px;
  height: auto;
  border: 2px solid transparent;
  border-radius: 5px;
}

.image-checkbox input[type="checkbox"]:checked + img {
  border-color: #007bff;
}

.image-checkbox label {
  display: block;
  position: relative;
}

.image-checkbox label::before {
  content: "✔";
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #007bff;
  display: none;
}

.image-checkbox input[type="checkbox"]:checked + img + label::before {
  display: block;
}
.autocomplete {
  width: 300px;
  height: 50px;
}

.otherPet_image {
  max-width: 90px;
  width: auto;
  height: 70px;
}

.adopt_other_img {
  width: 90px;
}
.petDOB {
  color: #444444;
  font-size: 14px;
}
.petNameClass {
  display: flex;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 6px;
}
.card-pet-area-uploaded p {
  color: #949695;
  font-weight: 500;
  margin-top: 8px;
}

.card-pet-area-uploaded {
  border-top: 1px solid #ededed;
}
.cretificated {
  color: #f34100 !important;
  font-weight: 400;
  font-size: 12px !important;
}

/* verification modal  */
.modal-header {
  border-bottom: none;
}
.modal-body {
  padding: 2rem;
}
.modal-footer {
  border-top: none;
}
.modal-content {
  border-radius: 0.5rem;
}
.custom-checkbox {
  margin: 1rem 0;
}
.advertise-section {
  margin-top: 2rem;
}
.advertise-section .card {
  border: 1px solid #f34100;
  border-radius: 0.5rem;
  padding: 9px;
  margin-bottom: 1rem;
  text-align: left;
}
.advertise-section .card h5 {
  margin-bottom: 1rem;
}
.advertise-section .card p {
  margin-bottom: 0.5rem;
}
.advertise-section .card p.text-danger {
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  color: #f34100 !important;
}
.verifyBG {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 53%;
}
.verifyTitle {
  font-size: 23px;
}
.boostresposive {
  width: 50%;
}
.verify-pay {
  font-size: 18px;
  font-weight: 550px;
  background-color: #f34100;
  color: #fff;
  border: 1px solid #f34100;
}
.verify-pay:hover {
  background-color: #fff;
  color: #f34100 !important;
  border: 1px solid #f34100;
}
.verify-cancel {
  font-size: 18px;
  font-weight: 550px;
  color: #777;
  text-decoration: underline !important;
  background-color: #fff;
  border: none;
}

.verify-cancel:hover {
  background-color: #fff !important;
  color: #f34100 !important;
}

@media only screen and (max-width: 985px) {
  .verifycard {
    flex-wrap: wrap;
  }
  .boostresposive {
    width: 100%;
  }
}
