.pa_filter_btn {
  background: white;
  border: 1px solid #e73b1d !important;
  color: #252a60;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100px;
}

.PetVerify {
  position: absolute;
  z-index: 1;
  right: 0;
  background-color: #f34100;
  font-size: 10px;
  color: white;
  padding: 2px 12px;
  border-radius: 0px 7px;
}
.card-pet-area-uploaded p {
  font-size: 10px;
  line-height: 18px;
}
p.CartCerti {
  font-size: 10px;
  color: #329300;
  font-weight: 500;
}
.card-pet-name {
  font-size: 18px;
}
.card-pet-gender {
  font-size: 14px;
}
.card-pet-adobefee {
  font-size: 16px;
}
