.pa_filter_btn {
  background: white;
  border: 1px solid #e73b1d !important;
  color: #252a60;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100px;
}

.PetVerify {
  position: absolute;
  z-index: 1;
  right: 0;
  background-color: #319848;
  font-size: 13px;
  color: white;
  padding: 2px 21px;
  border-radius: 0px 9px;
}

.Petcert {
  position: absolute;
  z-index: 1;
  bottom: 0;
  font-size: 15px;
  padding: 0px 21px;
  border-radius: 0px 10px 0px 0px;
  background-color: #e73b1d;
  color: white;
}

.card-pet-area-uploaded p {
  font-size: 12px;
  line-height: 18px;
  margin: 5px 0px;
}

p.CartCerti {
  font-size: 10px;
  color: #329300;
  font-weight: 500;
}

.card-pet-name {
  font-size: 22px;
  color: #f34100;
}

.card-pet-gender {
  font-size: 14px;
}

.card-pet-adobefee {
  font-size: 20px;
  color: #777;
}

.image-checkbox {
  position: relative;
  cursor: pointer;
  margin: 10px;
}

.image-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

.image-checkbox img {
  width: 150px;
  height: auto;
  border: 2px solid transparent;
  border-radius: 5px;
}

.image-checkbox input[type="checkbox"]:checked+img {
  border-color: #007bff;
}

.image-checkbox label {
  display: block;
  position: relative;
}

.image-checkbox label::before {
  content: "✔";
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #007bff;
  display: none;
}

.image-checkbox input[type="checkbox"]:checked+img+label::before {
  display: block;
}

.autocomplete {
  width: 300px;
  height: 50px;
}

.otherPet_image {
  max-width: 90px;
  width: auto;
  height: 70px;
}

.adopt_other_img {
  width: 90px;
}

.petDOB {
  color: #444444;
  font-size: 14px;
}

.petNameClass span {
  display: flex;
  color: #444444;
  font-size: 18px;
}


/* verification modal  */
.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 2rem;
}

.modal-footer {
  border-top: none;
}

.modal-content {
  border-radius: 0.5rem;
}

.custom-checkbox {
  margin: 1rem 0;
}

.advertise-section {
  margin-top: 2rem;
}

.advertise-section .card {
  border: 1px solid #f34100;
  border-radius: 0.5rem;
  padding: 9px;
  margin-bottom: 1rem;
  text-align: left;
}

.advertise-section .card h5 {
  margin-bottom: 1rem;
}

.advertise-section .card p {
  margin-bottom: 0.5rem;
}

.advertise-section .card p.text-danger {
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  color: #f34100 !important;
}

.verifyBG {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 53%;
}

.verifyTitle {
  font-size: 23px;
}

.boostresposive {
  width: 50%;
}

.verify-pay {
  font-size: 18px;
  font-weight: 550px;
  background-color: #f34100;
  color: #fff;
  border: 1px solid #f34100;
}

.verify-pay:hover {
  background-color: #fff;
  color: #f34100 !important;
  border: 1px solid #f34100;
}

.verify-cancel {
  font-size: 18px;
  font-weight: 550px;
  color: #777;
  text-decoration: underline !important;
  background-color: #fff;
  border: none;
}

.verify-cancel:hover {
  background-color: #fff !important;
  color: #f34100 !important;
}

@media only screen and (max-width: 985px) {
  .verifycard {
    flex-wrap: wrap;
  }

  .boostresposive {
    width: 100%;
  }
}



.verify-pet-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: rgba(217, 217, 217, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 40px 80px;
}

.verify-pet-container img {
  width: 100%;
  border-radius: 10px;
}

.verify-pet-container .checked-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}

.verify-pet-container h2 {
  color: #ff4500;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 600;
  font-family: poppins;
}

.verify-pet-container p {
  color: #6c757d;
  margin-bottom: 20px;
  line-height: normal;
}

.verify-pet-container .price {
  color: #ff4500;
  font-weight: bold;
  margin-bottom: 20px;
}

.verify-pet-container .btn-primary {
  background-color: #ff4500;
  border: none;
  padding: 13px;
}

.verify-pet-container .btn-primary:hover {
  background-color: #e63e00;
}

.verify-pet-container .btn-link {
  color: #6c757d;
  text-decoration: none;
}

.verify-pet-container .btn-link:hover {
  text-decoration: underline;
}


.adv-card {
  border: 2px solid #FF5722; /* Orange border color */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  position: relative;
  cursor: pointer; /* Add cursor pointer for better UX */
}
.adv-card .adv-radio {
  position: absolute;
  top: 20px;
  left: 20px;
}
.adv-card .adv-title {
  font-weight: bold;
  margin-left: 22px;
}
.adv-card .adv-description {
  margin-left: 22px;
}

.adv-card .form-check-input:checked {
  background-color: #dc3545;
  border-color: #f34100;
}
.adv-card.active-card {
  background-color: #FFF3E0; /* Light orange background */
}

@media only screen and (max-width: 500px) {
  .verify-pet-container {
    max-width: 600px;
    margin: 0px;
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px 10px;
  }

  .verify-pet-container h2 {
    color: #ff4500;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    font-family: poppins;
  }

  .modal-body {
    padding: 1rem;
  }
}